.skills {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    min-height: 100vh;
    font-family: 'lineNexa';
    position: relative;
}

.skills .skills-title {
    position: absolute;
    left: 50%;
    background-color: white;
    width: 30%;
    font-size: 28px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}


.skills .skills-title p {
    display: flex;
    align-items: center;
}

.skills .skills-title span {
    font-size: 50px;
    margin-right: 8px;
}

@media only screen and (max-width: 1000px) {

    .skills {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        width: 100%;
    }

    .skills .skills-title {
        display: none;
    }

}