.apresentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    font-family: 'lineNexa';
    position: relative;
}

.apresentation-div {
    display: flex;
}

.myName {
    display: flex;
    flex-wrap: wrap;
}

.myName h2 {
    font-family: 'potatoSans';
    letter-spacing: 1px;
    font-size: 68px;
    margin: 0 12px;
    color: var(--apresentation-name);
}

.myName p {
    font-family: 'cosplayCulture';
    font-size: 32px;
    color: var(--apresentation-text);
}

.itsMe {
    text-align: center;
    color: var(--primary-font);
    width: 80%;
}

.itsMe p {
    font-weight: bold;
    font-size: 18px;
}

.apresentation-links {
    margin-top: 50px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.apresentation-links span {
    font-size: 25px;
    margin-right: 8px;
}

.apresentation-links a {
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 0 0 #006f7e;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .8s ease-in-out, box-shadow .8s ease-in-out;
    cursor: pointer;
    color: var(--primary-font);
  }

.apresentation-links a:hover {
    color: #fff;
    box-shadow: inset 500px 0 0 0 #006f7e;
    font-weight: 700;
  }

.apresentation-links a {
    font-size: 17px;
    line-height: 1.5;
    text-decoration: none;
  }

/* Mobile */

@media only screen and (max-width: 1000px) {
    .apresentation {
        justify-content: flex-start;
        padding-top: 60px;
    }

    .myName {
        justify-content: center;
    }
    
    .myName h2 {
        font-size: 38px;
        color: var(--apresentation-name);
    }
    
    .myName p {
        font-size: 22px;
    }
    
    .itsMe {
        width: 100%;
    }
    
    .itsMe p {
        font-weight: bold;
        font-size: 18px;
    }

    .apresentation-links {
        justify-content: center;
        align-items: center;
        width: 80%;
        flex-direction: column;
        margin-top: 30px;
    }
  }