.apresentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'lineNexa';
}

.myName {
    display: flex;
    flex-wrap: wrap;
}

.myName h2 {
    font-family: 'potatoSans';
    letter-spacing: 1px;
    font-size: 68px;
    margin: 0 12px;
    color: var(--apresentation-name);
}

.myName p {
    font-family: 'cosplayCulture';
    font-size: 32px;
    color: var(--apresentation-text);
}

.itsMe {
    text-align: center;
    color: var(--primary-font);
    width: 600px;
}

.itsMe p {
    font-weight: bold;
    font-size: 18px;
}

/* Mobile */

@media only screen and (max-width: 600px) {
    .apresentation {
        justify-content: flex-start;
        padding-top: 80px;
    }
    
    .myName {
        justify-content: center;
    }
    
    .myName h2 {
        font-size: 38px;
        color: var(--apresentation-name);
    }
    
    .myName p {
        font-size: 22px;
    }
    
    .itsMe {
        width: 100%;
    }
    
    .itsMe p {
        font-weight: bold;
        font-size: 18px;
    }
  }