.gallery {
  margin-top: 100px;
  padding: 10px;
  height: 100vh;
}

/* .grid img {
  width: 100%;
  border-radius: 4px;
} */

.grid {
  column-count: 6;
  column-gap: 10px;
}

.galleryTitle {
  font-family: 'potatoSans';
  letter-spacing: 1px;
  font-size: 58px;
  margin: 0 12px;
  color: var(--apresentation-text);
  margin: 8px 0;
}

@media only screen and (max-width: 600px) {

  .gallery {
    height: auto;
    padding-bottom: 180px;
  }

  .galleryTitle {
    font-size: 38px;
  }

  .grid {
    column-count: 1;
    column-gap: 10px;
  }

}