.project {
    /* position: relative; */
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    /* margin: 5px; */
    /* width: 30%; */
    /* background-color: yellow; */
  }
  
  .project:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  
  .project img {
    width: 100%;
    border-radius: 4px;
  }
  .project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.863);
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .project:hover .project-info {
    opacity: 1;
  }
  