.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    font-family: 'lineNexa';
}

.aboutme h2, .aboutme h3 {
    font-family: 'potatoSans';
    letter-spacing: 1px;
    font-size: 28px;
    margin: 0 12px;
    color: var(--apresentation-text);
    margin: 22px 0;
}

.aboutme h2:first-child {
    font-size: 58px;
}

.aboutme p {
    width: 800px;
    font-weight: bold;
    font-size: 18px;
    color: var(--primary-font);
    margin: 10px 0;
}

.aboutme button {
    width: 120px;
    height: 40px;
    border-radius: 15px;
    border: none;
}

/* .aboutme h3 {
    font-family: 'potatoSans';
    letter-spacing: 1px;
    font-size: 28px;
    margin: 0 12px;
    color: var(--apresentation-name);
} */

.aboutme ul {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.aboutme ul li {
    list-style: none;
    padding: 0 8px;
    margin: 8px;
    height: 30px;
    background-color: var(--primary-detail);
    border-radius: 8px;
    cursor: default;
}

.aboutme ul li:hover {
    background-color: var(--secondary-detail);
    color: var(--primary-detail);
}

@media only screen and (max-width: 600px) {
    .aboutme {
        min-height: 80vh;
        width: 100%;
        margin-bottom: 50px;
    }
    
    .aboutme h2 {
        font-size: 22px;
        margin: 0 6px;
    }
    
    .aboutme h2:first-child {
        font-size: 38px;
    }
    
    .aboutme p {
        width: 100%;
        font-size: 15px;
        margin: 5px 0;
        padding: 0 8px;
    }
    
    .aboutme h3 {
        display: none;
    }
    
    .aboutme ul {
        display: none;
    }
}